.main-section {
    margin-top: 130px;
}

.bg-custom-color {
    background-color: #F4FAFD;
}

.e-learning-section {
    margin-top: 80px;
}

.ready-to-join-section {
    height: 300px;
    background-color: #289BDE;
    margin-top: 100px;
}

.btn-txt-color {
    color: #289BDE;
}

.succ-student-section {
    margin-top: 100px;
}

.student-feedback-sec {
    margin-top: 100px;
}

.btn-space {
    padding: 13px 35px;
    font-size: 20px;
}